
.bookuploadform{
    text-align: center;
}
.book-label{
    margin-right: 20px;
}
#book-desc{
    resize: none;
    margin-top:5px;
}


.book-inp{
    width: 40%;
    min-width: 100px;
    
}

#book-rat{
    margin-top: 20px;
    margin-bottom: auto;
}

#book-upload{
    margin-top:20px;
}
.ant-form-item{
    margin-bottom:0px;
}
#book-authorname{
    margin-top:5px;
}
